<div id="tracks">
  tracks
</div>

<script>
  if (window.location.hash == '#_=_') {
    window.location.hash = '';
  }

  new app.CosmosRouter({tracks: <%= @tracks.to_json.html_safe %>});
  Backbone.history.start({root: '/dashboard'});
</script>

<script src="https://metric.io/javascripts/api.min.js" type="text/javascript"></script>
<script>
  var currentUser = <%= current_user.to_json(:only => [:id, :email, :created_at]).html_safe %>;
  metric.setApiKey("<%= ENV['METRIC_KEY'] %>");
  metric.setCustomer({"id": currentUser.id, "email": currentUser.email});
</script>
