<a class="brand" href="#" class="home">Cosmos</a>
<div class="nav-collapse collapse">
  <ul class="nav">
    <li><a href="#" class="home">Home</a></li>
    <li><a href="/tracks/new" target="_blank">New track</a></li>
  </ul>
</div>
